<script>
  function fixFootnotes() {
    let refs = Array.from(document.getElementsByClassName('footnote-ref')).map(el => el.firstElementChild);
    let backRefs = Array.from(document.getElementsByClassName('footnote-backref'));
    
    // Add surrounding brackets to references
    for (let ref of refs) {
      if (ref.innerText.startsWith('[')) {
        console.warn('fixFootnotes() detected that footnotes were already fixed; cancelling');
        return;
      }
      ref.innerText = `[${ref.innerText}]`;
    }
  
    // Add unique indentifier to references
    let footnoteRefCounts = new Map();
    for (const ref of refs) {
      const fnId = new URL(ref.href).hash.slice(3); // e.g. "#fn12" -> "12"
      const refId = footnoteRefCounts.get(fnId) ?? 0;
      footnoteRefCounts.set(fnId, refId + 1);
      ref.id = `fnref${fnId}:${refId}`;
      ref.href = `#fn${fnId}:${refId}`;
    }
    
    // Add better back-references
    for (const oldBackRef of backRefs) {
      const fnId = new URL(oldBackRef.href).hash.slice(6); // e.g. "#fnref12" -> "12"
      const refCount = footnoteRefCounts.get(fnId) ?? 0;
      let lastBackRef = oldBackRef;
      for (let i = 0; i < refCount; i++) {
        const backRef = document.createElement('a');
        backRef.className = 'footnote-backref';
        backRef.href = `#fnref${fnId}:${i}`;
        backRef.innerHTML = i === 0 ? `↩` : `↩<sup>${i + 1}</sup>`;
        lastBackRef.after(backRef);
        lastBackRef = backRef;
      }
      oldBackRef.remove();
    }

    // Add class to footnotes
    let footnotes = Array.from(document.getElementsByClassName('footnotes')[0].firstElementChild.children);
    for (const footnote of footnotes) {
      footnote.classList.add('footnote');
    }

    // Reimplement scrolling to footnotes with new reference identifiers
    function handleHash() {
      let hash = window.location.hash; // e.g. "#fn12:3"
      if (hash === '') return;
      hash = hash.slice(1); // e.g. "fn12:3"

      const oldTargetFns = document.getElementsByClassName('target-footnote');
      for (const fn of oldTargetFns) {
        fn.classList.remove('target-footnote');
      }
      
      if (hash.startsWith('fn') && !hash.startsWith('fnref')) {
        let fnId = hash.split(':')[0].slice(2); // e.g. "12"
        let footnote = document.getElementById(`fn${fnId}`);
        footnote.classList.add('target-footnote');
        footnote.scrollIntoView();
      }
    }
    window.addEventListener('hashchange', handleHash);
    handleHash();
  }

  fixFootnotes();
</script>
