<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
    <script>
      (function(){
        function fixFootnotes() {
          let refs = Array.from(document.getElementsByClassName('footnote-ref')).map(el => el.firstElementChild);
          let backRefs = Array.from(document.getElementsByClassName('footnote-backref'));
          
          // Add surrounding brackets to references
          for (let ref of refs) {
            if (ref.innerText.startsWith('[')) {
              console.warn('fixFootnotes() detected that footnotes were already fixed; cancelling');
              return;
            }
            ref.innerText = `[${ref.innerText}]`;
          }
        
          // Add unique indentifier to references
          let footnoteRefCounts = new Map();
          for (const ref of refs) {
            const fnId = new URL(ref.href).hash.slice(3); // e.g. "#fn12" -> "12"
            const refId = footnoteRefCounts.get(fnId) ?? 0;
            footnoteRefCounts.set(fnId, refId + 1);
            ref.id = `fnref${fnId}:${refId}`;
          }
          
          // Add better back-references
          for (const oldBackRef of backRefs) {
            const fnId = new URL(oldBackRef.href).hash.slice(6); // e.g. "#fnref12" -> "12"
            const refCount = footnoteRefCounts.get(fnId) ?? 0;
            let lastBackRef = oldBackRef;
            for (let i = 0; i < refCount; i++) {
              const backRef = document.createElement('a');
              backRef.className = 'footnote-backref';
              backRef.href = `#fnref${fnId}:${i}`;
              backRef.innerHTML = i === 0 ? `↩` : `↩<sup>${i + 1}</sup>`;
              lastBackRef.after(backRef);
              lastBackRef = backRef;
            }
            oldBackRef.remove();
          }
        }
  
        fixFootnotes();
      })();
    </script>
  </head>
  <body>
    <div class="container-lg px-3 my-5 markdown-body">
      <h1><a id="header" class="header" href="{{ page.header_url | default: "/" | absolute_url }}">{{ page.title | default: site.title }}</a></h1>

      <div id="content" class="content">
        {{ content }}
      </div>
      
      <div id="footer" class="footer">
        <noscript>This page uses a Javascript patch to improve its footnotes. Enable Javascript in your browser's security settings to allow this.<br></noscript>
        This site is open source. <a href="{{ site.github.repository_url }}/blob/main/{{ page.path }}?plain=1">View this page's source</a>.
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.0/anchor.min.js" integrity="sha256-lZaRhKri35AyJSypXXs4o6OPFTbTmUoltBbDCbdzegg=" crossorigin="anonymous"></script>
    <script>anchors.add();</script>
  </body>
</html>
